[data-element='litebochs'] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5000;
    display: table;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: transform cubic-bezier(.79, .04, .61, .75) 200ms, -webkit-transform cubic-bezier(.79, .04, .61, .75) 200ms, opacity cubic-bezier(.79, .04, .61, .75) 200ms;
    transform: scale(0);
}

[data-element='litebochs'][data-state='open'] {
    transform: scale(1);
    opacity: 1;
}

[data-element='litebochs'][data-state='closed'] {
    transform: scale(0);
    opacity: 0;
}

[data-element='litebochs'][data-theme='light'] {
    background: rgba(255, 255, 255, 0.9);
}

[data-element='litebochs'][data-theme='dark'] {
    background: rgba(0, 0, 0, 0.9);
}

[data-element='litebochs'] [aria-label='close lightbox'] {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1vh 1vw;
    z-index: 5010;
    font-size: 45px;
    line-height: 45px;
}

[data-element='litebochs'][data-theme='light'] [aria-label='close lightbox'] {
    color: #000;
}

[data-element='litebochs'][data-theme='dark'] [aria-label='close lightbox'] {
    color: #fff;
}

[data-element='litebochs-content'] {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

[data-element='litebochs-content-inner'] {
    margin: 0 auto;
    padding: calc(2vh + 45px) 1vw;
}

[data-element='litebochs-content-inner'] img {
    display: block;
    padding: 0;
    margin: 0 auto;
}

[data-content='portrait'] img {
    height: calc(100vh - (4vh + 45px));
}

[data-content='landscape'] img {
    max-width: 100%;
    height: auto;
}

[data-state="blur"] {
    -webkit-filter: blur(5px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='blur5'><feGaussianBlur in='SourceGraphic' stdDeviation='5' /></filter></svg>#blur5");
    filter: blur(5px);
}
